<!DOCTYPE html>
{% load static %}
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="https://semantic-ui.com/dist/semantic.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://semantic-ui.com/dist/semantic.min.js"></script>
    





    <script>
        $(function () {
            $('.ui.dropdown').dropdown({transition: 'drop', on: 'hover' });
            $('.ui.sticky').sticky({
                context: $('#sitcky-c').data(),
            });
            $('.ui.accordion').accordion();
        })
    </script>




    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div id="bander">

        <div class="ui fixed inverted menu" style="z-index:9999">
            <div class="header item">巴别图书馆</div>
            <a class="item" href="/">首页</a>
            <div class="ui dropdown item">
                <a href="/book?page=1">书籍</a>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="/shudan?page=1" class="item">书库</a>
                    <a href="/author?page=1" class="item">作家</a>
                    <a href="/book_review?page=1" class="item">书评</a>
                </div>
            </div>
            <div class="ui dropdown item">
                <a href="/music?page=1">音乐</a>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="/classical_music?page=1" class="item">古典音乐</a>
                    <a href="/jazz?page=1" class="item">爵士乐</a>
                    <a href="/rock?page=1" class="item">摇滚乐</a>
                    <a href="/spirit?page=1" class="item">古灵精怪</a>
                    <a href="/the_bealtes?page=1" class="item">披头士歌词合集</a>
                </div>
            </div>
            <div class="ui dropdown item">
                <a href="/painting?page=1">绘画</a>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="/painter?page=1" class="item">画家</a>
                    <a href="/paintings?page=1" class="item">画作</a>
                </div>
            </div>
            <div class="ui dropdown item">
                <a href="/film?page=1">电影</a>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="/filmmaker?page=1" class="item">影人</a>
                    <a href="/film_review?page=1" class="item">影评</a>
                </div>
            </div>
            <div class="ui dropdown item">
                <a href="/ACG?page=1">ACG</a>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="/animation?page=1" class="item">动画</a>
                    <a href="/comic?page=1" class="item">漫画</a>
                    <a href="/game?page=1" class="item">游戏</a>
                </div>
            </div>
            <div class="ui dropdown item">
                <a href="/dreams?page=1">奇想臆语</a>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="/note?page=1" class="item">三闲笔记</a>
                    <a href="/travels?page=1" class="item">游记</a>
                    <div class="divider"></div>
                    <a href="/icarus?page=1" class="item">伊卡洛斯</a>
                </div>
            </div>
            <a class="item">关于</a>

            <!-- <div class="right menu">
                <div class="item">
                    <div class="ui transparent inverted icon input">
                        <i class="search icon"></i>
                        <input type="text" placeholder="搜搜试试">
                    </div>
                </div>
                <a class="item">手气不错</a>
            </div> -->
        </div>


        <img class="ui image" src="{%static 'img/bg/1.jpg'%}" alt="...(｡•ˇ‸ˇ•｡)...图片加载失败了">


    </div>


    <div style="height: 50px;"></div>


    <div class="ui grid">
        <div class="one wide column"></div>
        <div class="three wide column">
            <div class="ui sticky">
                <div style="height: 10px;"></div>
                <div class="ui piled segment">
                    <div class="ui small header">
                        细语微言
                    </div>
                    <div>
                        {{ oracle.ZHENGWEN | safe }}
                    </div>
                    <br>
                    <div style="float: right;">——{{ oracle.ZUOZHE }}</div>
                    <div style="float: right;">{{ oracle.ZUOPIN }}</div>
                    <div style="height: 50px;"></div>
                </div>
            </div>
        </div>
        <div class="eight wide column"  id="sticky-c">
            {% block base_show %}
            {% endblock %}

            <div style="height: 100px;"></div>


        </div>
        <div class="four wide column">
            <div class="ui sticky">
                <div style="height: 40px;"></div>
                <div class="ui card">
                    <div class="image">
                      <img src="{%static 'img/illust_62199837_20190404_152457.jpg'%}">
                    </div>
                    <div class="content">
                      <a class="header">Nimrod</a>
                      <div class="meta">
                        <span class="date">2013年加入</span>
                      </div>
                      <div class="description">Kristy is an art director living in New York. </div>
                    </div>
                    <div class="extra content">
                      <a><i class="user icon"></i> 22 个好友 </a>
                    </div>
                </div>
            </div>
            <div style="height: 10px;"></div>
        </div>

    </div>



    <div class="ui inverted vertical segment">
        <div class="ui grid">
            <div class="four wide column"></div>
            <div class="one wide column">
                <div class="ui inverted">
                    <br>
                    <div class="ui inverted header">
                        关于
                    </div>
                    <br>
                    <div class="ui inverted">
                        缘起
                    </div>
                    <br>
                    <a href="https://www.zhihu.com/column/blibrary" class="ui inverted">
                        知乎专栏
                    </a>
                    <br>
                </div>
            </div>
            <div class="two wide column">
                <br>
                <div>
                    <div class="ui tiny center aligned inverted header">微信公众号</div>
                    <img class="ui small rounded centered image" src="{%static 'img/wechat.png'%}" alt="...(｡•ˇ‸ˇ•｡)...图片加载失败了">
                </div>
                <br>
            </div>
            <div class="two wide column">
                <br>
                <div>
                    <div class="ui tiny center aligned inverted header">知乎专栏</div>
                    <a href="https://www.zhihu.com/column/blibrary">
                        <img class="ui small rounded centered image" src="{%static 'img/zhihu.png'%}" alt="...(｡•ˇ‸ˇ•｡)...图片加载失败了">
                    </a>
                </div>
                <br>
            </div>
            <div class="three wide column">
                <div class="ui inverted">
                    <div style="height: 20px;"></div>
                    <div class="ui small inverted header">
                        <div>
                            然而你的庞大的图书馆要在一瞬间，在一个人的身上，得到证明。<br>
                        </div>
                        <div style="float: right;">
                            ——博尔赫斯
                        </div>
                    </div>
                    <div style="height: 36px;"></div>
                    <div class="ui tiny grey center aligned inverted header">
                        Powered by 忆梦先生
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>