{% extends 'base.html' %}
{% load static %}

{# 页面标题 #}
{% block title %}
    伊卡洛斯——巴别图书馆
{% endblock %}

{% block base_show %}
    <div class="ui huge center aligned header">
        <br>
        伊卡洛斯
        <br>
    </div>
    <div class="ui large center aligned header">
        <br>
        就这样,在这一千零一夜的第一夜,山鲁佐德开始讲述下面的故事......
        <br>
        <br>
    </div>

    <div class="ui styled fluid accordion">
        <div class="active title">
            <div class="ui grid">
                <div class="two wide column"></div>
                <br>
                <div class="ui fourteen wide cloumn  huge header">
                    关于《伊卡洛斯》的七封推荐信
                </div>
                <br>
            </div>
            
        </div>
        <div class="active content">
            <div class="ui grid">
                <div class="three wide column"></div>
                <div class="ui ordered list">
                    <a class="item" href="/article/201">关于《伊卡洛斯》的七封推荐信 其之一</a>
                    <a class="item" href="/article/202">关于《伊卡洛斯》的七封推荐信 其之二</a>
                    <a class="item" href="/article/203">关于《伊卡洛斯》的七封推荐信 其之三</a>
                    <a class="item" href="/article/204">关于《伊卡洛斯》的七封推荐信 其之四</a>
                    <a class="item" href="/article/205">关于《伊卡洛斯》的七封推荐信 其之五</a>
                    <a class="item" href="/article/206">关于《伊卡洛斯》的七封推荐信 其之六</a>
                    <a class="item" href="/article/207">关于《伊卡洛斯》的七封推荐信 其之七</a>
                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>




        <div class="title">
            <div class="ui grid">
                <div class="two wide column"></div>
                <div class="ui huge header">
                    第一章
                </div>
                <br>
            </div>
            
        </div>
        <div class="content">
            <div class="ui grid">
                <div class="three wide column"></div>
                <div class="ui ordered list">
                    <a class="item" href="/article/208">第一节</a>
                    <a class="item" href="/article/209">第二节</a>
                    <a class="item" href="/article/210">第三节</a>
                    <a class="item" href="/article/211">第四节</a>
                    <a class="item" href="/article/212">第五节</a>
                    <a class="item" href="/article/213">第六节</a>
                    <a class="item" href="/article/214">第七节</a>
                    <a class="item" href="/article/215">第八节</a>
                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>





        <div class="title">
            <div class="ui grid">
                <div class="two wide column"></div>
                <div class="ui huge header">
                    第二章
                </div>
                <br>
            </div>
            
        </div>
        <div class="content">
            <div class="ui grid">
                <div class="three wide column"></div>
                <div class="ui ordered list">
                    <a class="item" href="/article/216">第一节</a>
                    <a class="item" href="/article/217">第二节</a>
                    <a class="item" href="/article/218">第三节</a>
                    <a class="item" href="/article/219">第四节</a>
                    <a class="item" href="/article/220">第五节</a>
                    <a class="item" href="/article/221">第六节</a>
                    <a class="item" href="/article/222">第七节</a>
                    <a class="item" href="/article/223">第八节</a>
                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>





        <div class="title">
            <div class="ui grid">
                <div class="two wide column"></div>
                <div class="ui huge header">
                    第三章
                </div>
                <br>
            </div>
            
        </div>
        <div class="content">
            <div class="ui grid">
                <div class="three wide column"></div>
                <div class="ui ordered list">
                    <a class="item" href="/article/224">第一节</a>
                    <a class="item" href="/article/225">第二节</a>
                    <a class="item" href="/article/226">第三节</a>
                    <a class="item" href="/article/227">第四节</a>
                    <a class="item" href="/article/228">第五节</a>
                    <a class="item" href="/article/229">第六节</a>
                    <a class="item" href="/article/230">第七节</a>
                    <a class="item" href="/article/231">第八节</a>
                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>





        <div class="title">
            <div class="ui grid">
                <div class="two wide column"></div>
                <div class="ui huge header">
                    第四章
                </div>
                <br>
            </div>
            
        </div>
        <div class="content">
            <div class="ui grid">
                <div class="three wide column"></div>
                <div class="ui ordered list">
                    <a class="item" href="/article/232">第一节</a>
                    <a class="item" href="/article/233">第二节</a>
                    <a class="item" href="/article/234">第三节</a>
                    <a class="item" href="/article/235">第四节</a>
                    <a class="item" href="/article/236">第五节</a>
                    <a class="item" href="/article/237">第六节</a>
                    <a class="item" href="/article/238">第七节</a>
                    <a class="item" href="/article/239">第八节</a>
                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>







    </div>

    <div style="height: 50px;"></div>
{% endblock %}