{% extends 'base.html' %}
{% load static %}

{# 页面标题 #}
{% block title %}
忆梦斋-秘藏
{% endblock %}

{% block base_show %}
    <div class="ui segment">
        {% for book in book_list %}
        <div class="ui vertical segment grid">
            <div class="four wide column">
                <a href="http://www.baidu.com">
                    <img class="ui rounded fluid image" src="{%static 'img/book/'%}{{ book.ISBN }}_{{ book.SHUMING }}.jpg" alt="...(｡•ˇ‸ˇ•｡)...图片加载失败了"/>
                </a>                    
            </div>
            <div class="twelve wide column">
                <br>
                <a href="http://www.baidu.com">
                    <h3 class="ui dividing header">{{ book.SHUMING }}</h3><br>
                </a>
                <div class="ui grid">
                    <div class="five wide column">
                        <p><strong>ISBN:</strong>{{ book.ISBN }}</p>
                        <p><strong>出版社：</strong>{{ book.CHUBANSHE }}</p>
                        <p><strong>出版年：</strong>{{ book.CHUBANNIAN }}</p>
                        <p><strong>页数：</strong>{{ book.YESHU }}</p>
                        <p><strong>定价：</strong>{{ book.DINGJIA }}</p>
                        <p><strong>装帧：</strong>{{ book.ZHUANGZHEN }}</p>
                    </div>
                    <div class="eleven wide column">
                        <p><strong>作者：</strong>{{ book.ZUOZHE }}</p>
                        <p><strong>出品方：</strong>{{ book.CHUPINFANG }}</p>
                        <p><strong>副标题：</strong>{{ book.FUBIAOTI }}</p>
                        <p><strong>原作名：</strong>{{ book.YUANZUOMING }}</p>
                        <p><strong>译者：</strong>{{ book.YIZHE }}</p>
                        <p><strong>丛书：</strong>{{ book.CONGSHU }}</p>
                    </div>
                </div>
                <div class="ui divider"></div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div style="height: 50px;"></div>
    <div class="ui center aligned six column grid">

        {% if book_list.has_previous %}
            <a class="ui column grey button" href="?page={{ book_list.previous_page_number }}"><i class="angle left icon"></i>上一页</a>
        {% else %}
            <a class="ui column grey disabled button" href="?=page={{ book_list.start_index }}"><i class="angle left icon"></i>上一页</a>
        {% endif %}

        <div class="ui column"></div>

        {% if book_list.has_next %}
            <a class="ui column grey button" href="?page={{ book_list.next_page_number }}">下一页<i class="angle right icon"></i></a>
        {% else %}
            <a class="ui column grey disabled button" href="?=page={{ book_list.end_index }}">下一页<i class="angle right icon"></i></a>
        {% endif %}

    </div>

{% endblock %}
