{% extends 'base.html' %}

{# 页面标题 #}
{% block title %}
    {{ article.BIAOTI }}——忆梦斋
{% endblock %}

{% block base_show %}
    <div class="ui segment">
        <h1 class="ui center aligned huge header">{{ article.BIAOTI }}</h1>
        <div class="ui tiny center aligned grey header">
            <span>
                <i class="pencil alternate icon"></i>作者：{{ article.ZUOZHE }} &nbsp; <i class="clock outline icon"></i>发表于：{{ article.CHUANGJIANSHIJIAN }}
            </span>
        </div>
        <div class="ui divider"></div>
        {{ article.ZHENGWEN | safe }}
    </div>
{% endblock %}