{% extends 'base.html' %}
{% load static %}

{# 页面标题 #}
{% block title %}
    披头士歌词合集——巴别图书馆
{% endblock %}

{% block base_show %}
    <div class="ui large center aligned header">
        <br>
        披头士歌词合集
        <br>
    </div>

    <div class="ui styled fluid accordion">
        <div class="active title">
            <div class="ui grid">
                <div class="two wide column">
                    <img class="ui rounded image" src="{%static 'img/beatles/small/Please Please Me.jpg'%}" alt="...(｡•ˇ‸ˇ•｡)...图片加载失败了">
                </div>
                <div class="ui fourteen wide cloumn  huge header">
                    1. Please Please Me
                </div>
            </div>
            
        </div>
        <div class="active content">
            <div class="ui grid">
                <div class="three wide column"></div>
                <div class="ui ordered list">
                    <a class="item" href="/article/5">&emsp;I Saw Her Standing There</a>
                    <a class="item" href="/article/6">&emsp;Misery</a>
                    <a class="item" href="/article/7">&emsp;Anna (Go to Him)</a>
                    <a class="item" href="/article/8">&emsp;Chains</a>
                    <a class="item" href="/article/9">&emsp;Boys</a>
                    <a class="item" href="/article/10">&emsp;Ask Me Why</a>
                    <a class="item" href="/article/11">&emsp;Please Please Me</a>
                    <a class="item" href="/article/12">&emsp;Love Me Do</a>
                    <a class="item" href="/article/13">&emsp;P.S. I Love You</a>
                    <a class="item" href="/article/14">&emsp;Baby It's You</a>
                    <a class="item" href="/article/15">&emsp;Do You Want to Know a Secret</a>
                    <a class="item" href="/article/16">&emsp;A Taste of Honey</a>
                    <a class="item" href="/article/17">&emsp;There's a Place</a>
                    <a class="item" href="/article/18">&emsp;Twist and Shout</a>
                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>




        <div class="title">
            <div class="ui grid">
                <div class="two wide column">
                    <img class="ui rounded image" src="{%static 'img/beatles/small/With The Beatles.jpg'%}" alt="...(｡•ˇ‸ˇ•｡)...图片加载失败了">
                </div>
                <div class="ui huge header">
                    2. With The Beatles
                </div>
            </div>
            
        </div>
        <div class="content">
            <div class="ui grid">
                <div class="three wide column"></div>
                <div class="ui ordered list">
                    <a class="item" href="/article/19">&emsp;It Won't Be Long</a>
                    <a class="item" href="/article/20">&emsp;All I've Got To Do</a>
                    <a class="item" href="/article/32">&emsp;All My Loving</a>
                    <a class="item" href="/article/21">&emsp;Don't Bother Me</a>
                    <a class="item" href="/article/22">&emsp;Little Child</a>
                    <a class="item" href="/article/23">&emsp;Till There Was You</a>
                    <a class="item" href="/article/24">&emsp;Please Mister Postman</a>
                    <a class="item" href="/article/25">&emsp;Roll Over Beethoven</a>
                    <a class="item" href="/article/26">&emsp;Hold Me Tight</a>
                    <a class="item" href="/article/27">&emsp;You Really Got A Hold On Me</a>
                    <a class="item" href="/article/28">&emsp;I Wanna Be Your Man</a>
                    <a class="item" href="/article/29">&emsp;Devil In Her Heart</a>
                    <a class="item" href="/article/30">&emsp;Not A Second Time</a>
                    <a class="item" href="/article/31">&emsp;Money (That's What I Want)</a>
                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>




        

        <div class="title">
            <div class="ui grid">
                <div class="two wide column">
                    <img class="ui rounded image" src="{%static 'img/beatles/small/A Hard Day\'s Night.jpg'%}" alt="...(｡•ˇ‸ˇ•｡)...图片加载失败了">
                </div>
                <div class="ui huge header">
                    3. A Hard Day's Night
                </div>
            </div>
            
        </div>
        <div class="content">
            <div class="ui grid">
                <div class="three wide column"></div>
                <div class="ui ordered list">
                    <a class="item" href="/article/33">&emsp;A Hard Day's Night</a>
                    <a class="item" href="/article/34">&emsp;I Should Have Known Better</a>
                    <a class="item" href="/article/35">&emsp;If I Fell</a>
                    <a class="item" href="/article/36">&emsp;I'm Happy Just To Dance With You</a>
                    <a class="item" href="/article/37">&emsp;And I Love Her</a>
                    <a class="item" href="/article/38">&emsp;Tell Me Why</a>
                    <a class="item" href="/article/39">&emsp;Can't Buy Me Love</a>
                    <a class="item" href="/article/40">&emsp;Any Time At All</a>
                    <a class="item" href="/article/41">&emsp;I'll Cry Instead</a>
                    <a class="item" href="/article/42">&emsp;Things We Said Today</a>
                    <a class="item" href="/article/43">&emsp;When I Get Home</a>
                    <a class="item" href="/article/44">&emsp;You Can't Do That</a>
                    <a class="item" href="/article/45">&emsp;I'll Be Back</a>
                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>




        

        <div class="title">
            <div class="ui grid">
                <div class="two wide column">
                    <img class="ui rounded image" src="{%static 'img/beatles/small/Beatles For Sale.jpg'%}" alt="...(｡•ˇ‸ˇ•｡)...图片加载失败了">
                </div>
                <div class="ui huge header">
                    4. Beatles For Sale
                </div>
            </div>
            
        </div>
        <div class="content">
            <div class="ui grid">
                <div class="three wide column"></div>
                <div class="ui ordered list">
                    <a class="item" href="/article/46">&emsp;No Reply</a>
                    <a class="item" href="/article/47">&emsp;I'm a Loser</a>
                    <a class="item" href="/article/48">&emsp;Baby's in Black</a>
                    <a class="item" href="/article/49">&emsp;Rock and Roll Music</a>
                    <a class="item" href="/article/50">&emsp;I'll Follow the Sun</a>
                    <a class="item" href="/article/51">&emsp;Mr. Moonlight</a>
                    <a class="item" href="/article/52">&emsp;Kansas City/Hey-Hey-Hey-Hey!</a>
                    <a class="item" href="/article/53">&emsp;Eight Days a Week</a>
                    <a class="item" href="/article/54">&emsp;Words of Love</a>
                    <a class="item" href="/article/55">&emsp;Honey Don't</a>
                    <a class="item" href="/article/56">&emsp;Every Little Thing</a>
                    <a class="item" href="/article/57">&emsp;I Don't Want to Spoil the Party</a>
                    <a class="item" href="/article/58">&emsp;What You're Doing</a>
                    <a class="item" href="/article/59">&emsp;Everybody's Trying to Be My Baby</a>
                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>




        

        <div class="title">
            <div class="ui grid">
                <div class="two wide column">
                    <img class="ui rounded image" src="{%static 'img/beatles/small/Help.jpg'%}" alt="...(｡•ˇ‸ˇ•｡)...图片加载失败了">
                </div>
                <div class="ui huge header">
                    5. Help!
                </div>
            </div>
            
        </div>
        <div class="content">
            <div class="ui grid">
                <div class="three wide column"></div>
                <div class="ui ordered list">
                    <a class="item" href="/article/60">&emsp;Help!</a>
                    <a class="item" href="/article/61">&emsp;The Night Before</a>
                    <a class="item" href="/article/62">&emsp;You've Got To Hide Your Love Away</a>
                    <a class="item" href="/article/63">&emsp;I Need You</a>
                    <a class="item" href="/article/64">&emsp;Another Girl</a>
                    <a class="item" href="/article/65">&emsp;You're Going To Lose That Girl</a>
                    <a class="item" href="/article/66">&emsp;Ticket To Ride</a>
                    <a class="item" href="/article/67">&emsp;Act Naturally</a>
                    <a class="item" href="/article/68">&emsp;It's Only Love</a>
                    <a class="item" href="/article/69">&emsp;You Like Me Too Much</a>
                    <a class="item" href="/article/70">&emsp;Tell Me What You See</a>
                    <a class="item" href="/article/71">&emsp;I've Just Seen A Face</a>
                    <a class="item" href="/article/72">&emsp;Yesterday</a>
                    <a class="item" href="/article/73">&emsp;Dizzy Miss Lizzy</a>
                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>




        

        <div class="title">
            <div class="ui grid">
                <div class="two wide column">
                    <img class="ui rounded image" src="{%static 'img/beatles/small/Rubber Soul.jpg'%}" alt="...(｡•ˇ‸ˇ•｡)...图片加载失败了">
                </div>
                <div class="ui huge header">
                    6. Rubber Soul
                </div>
            </div>
            
        </div>
        <div class="content">
            <div class="ui grid">
                <div class="three wide column"></div>
                <div class="ui ordered list">
                    <a class="item" href="/article/74">&emsp;Drive My Car</a>
                    <a class="item" href="/article/75">&emsp;Norwegian Wood (This Bird Has Flown)</a>
                    <a class="item" href="/article/76">&emsp;You Won't See Me</a>
                    <a class="item" href="/article/77">&emsp;Nowhere Man</a>
                    <a class="item" href="/article/78">&emsp;Think For Yourself</a>
                    <a class="item" href="/article/79">&emsp;The Word</a>
                    <a class="item" href="/article/80">&emsp;Michelle</a>
                    <a class="item" href="/article/81">&emsp;What Goes On</a>
                    <a class="item" href="/article/82">&emsp;Girl</a>
                    <a class="item" href="/article/83">&emsp;I'm Looking Through You</a>
                    <a class="item" href="/article/84">&emsp;In My Life</a>
                    <a class="item" href="/article/85">&emsp;Wait</a>
                    <a class="item" href="/article/86">&emsp;If I Needed Someone</a>
                    <a class="item" href="/article/87">&emsp;Run For Your Life</a>
                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>




        

        <div class="title">
            <div class="ui grid">
                <div class="two wide column">
                    <img class="ui rounded image" src="{%static 'img/beatles/small/Revolver.jpg'%}" alt="...(｡•ˇ‸ˇ•｡)...图片加载失败了">
                </div>
                <div class="ui huge header">
                    7. Revolver
                </div>
            </div>
            
        </div>
        <div class="content">
            <div class="ui grid">
                <div class="three wide column"></div>
                <div class="ui ordered list">
                    <a class="item" href="/article/88">&emsp;Taxman</a>
                    <a class="item" href="/article/89">&emsp;Eleanor Rigby</a>
                    <a class="item" href="/article/90">&emsp;I'm Only Sleeping</a>
                    <a class="item" href="/article/91">&emsp;Love You To</a>
                    <a class="item" href="/article/92">&emsp;Here, There And Everywhere</a>
                    <a class="item" href="/article/93">&emsp;Yellow Submarine</a>
                    <a class="item" href="/article/94">&emsp;She Said She Said</a>
                    <a class="item" href="/article/95">&emsp;Good Day Sunshine</a>
                    <a class="item" href="/article/96">&emsp;And Your Bird Can Sing</a>
                    <a class="item" href="/article/97">&emsp;For No One</a>
                    <a class="item" href="/article/98">&emsp;Doctor Robert</a>
                    <a class="item" href="/article/99">&emsp;I Want To Tell You</a>
                    <a class="item" href="/article/100">&emsp;Got To Get You Into My Life</a>
                    <a class="item" href="/article/101">&emsp;Tomorrow Never Knows</a>
                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>




        

        <div class="title">
            <div class="ui grid">
                <div class="two wide column">
                    <img class="ui rounded image" src="{%static 'img/beatles/small/Sgt. Pepper\'s Lonely Hearts Club Band.jpg'%}" alt="...(｡•ˇ‸ˇ•｡)...图片加载失败了">
                </div>
                <div class="ui huge header">
                    8. Sgt. Pepper's Lonely Hearts Club Band
                </div>
            </div>
            
        </div>
        <div class="content">
            <div class="ui grid">
                <div class="three wide column"></div>
                <div class="ui ordered list">
                    <a class="item" href="/article/102">&emsp;Sgt. Pepper's Lonely Hearts Club Band</a>
                    <a class="item" href="/article/103">&emsp;With A Little Help From My Friends</a>
                    <a class="item" href="/article/104">&emsp;Lucy In The Sky With Diamonds</a>
                    <a class="item" href="/article/105">&emsp;Getting Better</a>
                    <a class="item" href="/article/106">&emsp;Fixing A Hole</a>
                    <a class="item" href="/article/107">&emsp;She's Leaving Home</a>
                    <a class="item" href="/article/108">&emsp;Being For The Benefit Of Mr. Kite!</a>
                    <a class="item" href="/article/109">&emsp;Within You Without You</a>
                    <a class="item" href="/article/110">&emsp;When I'm Sixty-Four</a>
                    <a class="item" href="/article/111">&emsp;Lovely Rita</a>
                    <a class="item" href="/article/112">&emsp;Good Morning Good Morning</a>
                    <a class="item" href="/article/113">&emsp;Sgt. Pepper's Lonely Hearts Club Band (Reprise)</a>
                    <a class="item" href="/article/114">&emsp;A Day In The Life</a>
                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>




        

        <div class="title">
            <div class="ui grid">
                <div class="two wide column">
                    <img class="ui rounded image" src="{%static 'img/beatles/small/Magical Mystery Tour.jpg'%}" alt="...(｡•ˇ‸ˇ•｡)...图片加载失败了">
                </div>
                <div class="ui huge header">
                    9. Magical Mystery Tour
                </div>
            </div>
            
        </div>
        <div class="content">
            <div class="ui grid">
                <div class="three wide column"></div>
                <div class="ui ordered list">
                    <a class="item" href="/article/115">&emsp;Magical Mystery Tour</a>
                    <a class="item" href="/article/116">&emsp;The Fool On The Hill</a>
                    <div class="item" >&emsp;Flying</div>
                    <a class="item" href="/article/117">&emsp;Blue Jay Way</a>
                    <a class="item" href="/article/118">&emsp;Your Mother Should Know</a>
                    <a class="item" href="/article/119">&emsp;I Am The Walrus</a>
                    <a class="item" href="/article/120">&emsp;Hello Goodbye</a>
                    <a class="item" href="/article/121">&emsp;Strawberry Fields Forever</a>
                    <a class="item" href="/article/122">&emsp;Penny Lane</a>
                    <a class="item" href="/article/123">&emsp;Baby You're A Rich Man</a>
                    <a class="item" href="/article/124">&emsp;All You Need Is Love</a>
                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>



        

        <div class="title">
            <div class="ui grid">
                <div class="two wide column">
                    <img class="ui rounded image" src="{%static 'img/beatles/small/White Album.jpg'%}" alt="...(｡•ˇ‸ˇ•｡)...图片加载失败了">
                </div>
                <div class="ui huge header">
                    10. The Beatles (The White Album)
                </div>
            </div>
            
        </div>
        <div class="content">
            <div class="ui grid">
                <div class="three wide column"></div>
                <div class="ui ordered list">
                    <div class="item">
                        Disc 1
                        <div class="list">
                            <a class="item" href="/article/125">&emsp;Back in the U.S.S.R.</a>
                            <a class="item" href="/article/126">&emsp;Dear Prudence</a>
                            <a class="item" href="/article/127">&emsp;Glass Onion</a>
                            <a class="item" href="/article/128">&emsp;Ob-La-Di, Ob-La-Da</a>
                            <a class="item" href="/article/129">&emsp;Wild Honey Pie</a>
                            <a class="item" href="/article/130">&emsp;The Continuing Story Of Bungalow Bill</a>
                            <a class="item" href="/article/131">&emsp;While My Guitar Gently Weeps</a>
                            <a class="item" href="/article/132">&emsp;Happiness Is A Warm Gun</a>
                            <a class="item" href="/article/133">&emsp;Martha My Dear</a>
                            <a class="item" href="/article/134">&emsp;I'm So Tired</a>
                            <a class="item" href="/article/135">&emsp;Blackbird</a>
                            <a class="item" href="/article/141">&emsp;Piggies</a>
                            <a class="item" href="/article/136">&emsp;Rocky Raccoon</a>
                            <a class="item" href="/article/137">&emsp;Don't Pass Me By</a>
                            <a class="item" href="/article/138">&emsp;Why Don't We Do It In The Road?</a>
                            <a class="item" href="/article/139">&emsp;I Will</a>
                            <a class="item" href="/article/140">&emsp;Julia</a>
                        </div>
                    </div>
                    <div class="item">
                        Disc 2
                        <div class="list">
                            <a class="item" href="/article/142">&emsp;Birthday</a>
                            <a class="item" href="/article/143">&emsp;Yer Blues</a>
                            <a class="item" href="/article/144">&emsp;Mother Nature's Son</a>
                            <a class="item" href="/article/145">&emsp;Everybody's Got Something to Hide Except Me and My Monkey</a>
                            <a class="item" href="/article/146">&emsp;Sexy Sadie</a>
                            <a class="item" href="/article/147">&emsp;Helter Skelter</a>
                            <a class="item" href="/article/148">&emsp;Long, Long, Long</a>
                            <a class="item" href="/article/149">&emsp;Revolution 1</a>
                            <a class="item" href="/article/150">&emsp;Honey Pie</a>
                            <a class="item" href="/article/151">&emsp;Savoy Truffle</a>
                            <a class="item" href="/article/152">&emsp;Cry Baby Cry</a>
                            <a class="item" href="/article/153">&emsp;Revolution 9</a>
                            <a class="item" href="/article/154">&emsp;Good Night</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>



        

        <div class="title">
            <div class="ui grid">
                <div class="two wide column">
                    <img class="ui rounded image" src="{%static 'img/beatles/small/Yellow Submarine.jpg'%}" alt="...(｡•ˇ‸ˇ•｡)...图片加载失败了">
                </div>
                <div class="ui huge header">
                    11. Yellow Submarine
                </div>
            </div>
            
        </div>
        <div class="content">
            <div class="ui grid">
                <div class="three wide column"></div>
                <div class="ui ordered list">
                    <a class="item" href="/article/155">&emsp;Yellow Submarine</a>
                    <a class="item" href="/article/156">&emsp;Only A Northern Song</a>
                    <a class="item" href="/article/157">&emsp;All Together Now</a>
                    <a class="item" href="/article/158">&emsp;Hey Bulldog</a>
                    <a class="item" href="/article/159">&emsp;It's All Too Much</a>
                    <a class="item" href="/article/160">&emsp;All You Need Is Love</a>
                    <div class="item" >&emsp;Pepperland</div>
                    <div class="item" >&emsp;Sea of Time</div>
                    <div class="item" >&emsp;Sea of Holes</div>
                    <div class="item" >&emsp;Sea of Monsters</div>
                    <div class="item" >&emsp;March of The Meanies</div>
                    <div class="item" >&emsp;Pepperland Laid Waste</div>
                    <div class="item" >&emsp;Yellow Submarine in Pepperland</div>
                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>



        

        <div class="title">
            <div class="ui grid">
                <div class="two wide column">
                    <img class="ui rounded image" src="{%static 'img/beatles/small/Abbey Road.jpg'%}" alt="...(｡•ˇ‸ˇ•｡)...图片加载失败了">
                </div>
                <div class="ui huge header">
                    12. Abbey Road
                </div>
            </div>
            
        </div>
        <div class="content">
            <div class="ui grid">
                <div class="three wide column"></div>
                <div class="ui ordered list">
                    <a class="item" href="/article/161">&emsp;Come Together</a>
                    <a class="item" href="/article/162">&emsp;Something</a>
                    <a class="item" href="/article/163">&emsp;Maxwell's Silver Hammer</a>
                    <a class="item" href="/article/164">&emsp;Oh! Darling</a>
                    <a class="item" href="/article/165">&emsp;Octopus's Garden</a>
                    <a class="item" href="/article/166">&emsp;I Want You (She's So Heavy)</a>
                    <a class="item" href="/article/167">&emsp;Here Comes The Sun</a>
                    <a class="item" href="/article/168">&emsp;Because</a>
                    <a class="item" href="/article/169">&emsp;You Never Give Me Your Money</a>
                    <a class="item" href="/article/170">&emsp;Sun King</a>
                    <a class="item" href="/article/171">&emsp;Mean Mr Mustard</a>
                    <a class="item" href="/article/172">&emsp;Polythene Pam</a>
                    <a class="item" href="/article/173">&emsp;She Came In Through The Bathroom Window</a>
                    <a class="item" href="/article/174">&emsp;Golden Slumbers</a>
                    <a class="item" href="/article/175">&emsp;Carry That Weight</a>
                    <a class="item" href="/article/176">&emsp;The End</a>
                    <a class="item" href="/article/177">&emsp;Her Majesty</a>

                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>



        

        <div class="title">
            <div class="ui grid">
                <div class="two wide column">
                    <img class="ui rounded image" src="{%static 'img/beatles/small/Let It Be.jpg'%}" alt="...(｡•ˇ‸ˇ•｡)...图片加载失败了">
                </div>
                <div class="ui huge header">
                    13. Let It Be
                </div>
            </div>
            
        </div>
        <div class="content">
            <div class="ui grid">
                <div class="three wide column"></div>
                <div class="ui ordered list">
                    <a class="item" href="/article/178">&emsp;Two Of Us</a>
                    <a class="item" href="/article/179">&emsp;Dig A Pony</a>
                    <a class="item" href="/article/180">&emsp;Across The Universe</a>
                    <a class="item" href="/article/181">&emsp;I Me Mine</a>
                    <a class="item" href="/article/182">&emsp;Dig It</a>
                    <a class="item" href="/article/183">&emsp;Let It Be</a>
                    <a class="item" href="/article/184">&emsp;Maggie Mae</a>
                    <a class="item" href="/article/185">&emsp;I've Got A Feeling</a>
                    <a class="item" href="/article/186">&emsp;One After 909</a>
                    <a class="item" href="/article/187">&emsp;The Long And Winding Road</a>
                    <a class="item" href="/article/188">&emsp;For You Blue</a>
                    <a class="item" href="/article/189">&emsp;Get Back</a>
                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>


        

        <div class="title">
            <div class="ui grid">
                <div class="two wide column">
                    <img class="ui rounded image" src="{%static 'img/beatles/small/Past Masters.jpg'%}" alt="...(｡•ˇ‸ˇ•｡)...图片加载失败了">
                </div>
                <div class="ui huge header">
                    14. Past Masters
                </div>
            </div>
            
        </div>
        <div class="content">
            <div class="ui grid">
                <div class="three wide column"></div>
                <div class="ui ordered list">
                    <a class="item" href="/article/190">&emsp;From Me to You</a>
                    <a class="item" href="/article/191">&emsp;She Loves You</a>
                    <a class="item" href="/article/192">&emsp;I Want to Hold Your Hand</a>
                    <a class="item" href="/article/193">&emsp;I Feel Fine</a>
                    <a class="item" href="/article/194">&emsp;Day Tripper</a>
                    <a class="item" href="/article/195">&emsp;We Can Work It Out</a>
                    <a class="item" href="/article/196">&emsp;Paperback Writer</a>
                    <a class="item" href="/article/197">&emsp;Lady Madonna</a>
                    <a class="item" href="/article/198">&emsp;Hey Jude</a>
                    <a class="item" href="/article/199">&emsp;The Ballad of John and Yoko</a>
                    <a class="item" href="/article/200">&emsp;Free As A Bird</a>
                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>




    </div>

    <div style="height: 50px;"></div>
{% endblock %}