{% extends 'base.html' %}
{% load static %}

{# 页面标题 #}
{% block title %}
    披头士歌词合集——巴别图书馆
{% endblock %}

{% block base_show %}
    <div class="ui large center aligned header">
        <br>
        披头士歌词合集
        <br>
    </div>

    <div class="ui styled fluid accordion">
        <div class="active title">
            <div class="ui grid">
                <div class="two wide column">
                    <img class="ui rounded image" src="{%static 'img/beatles/small/Please Please Me.jpg'%}" alt="...(｡•ˇ‸ˇ•｡)...图片加载失败了">
                </div>
                <div class="ui fourteen wide cloumn  huge header">
                    1. Please Please Me
                </div>
            </div>
            
        </div>
        <div class="active content">
            <div class="ui grid">
                <div class="three wide column"></div>
                <div class="ui ordered list">
                    <a class="item" href="/article/5">I Saw Her Standing There</a>
                    <a class="item" href="/article/6">Misery</a>
                    <a class="item" href="/article/7">Anna (Go to Him)</a>
                    <a class="item" href="/article/8">Chains</a>
                    <a class="item" href="/article/9">Boys</a>
                    <a class="item" href="/article/10">Ask Me Why</a>
                    <a class="item" href="/article/11">Please Please Me</a>
                    <a class="item" href="/article/12">Love Me Do</a>
                    <a class="item" href="/article/13">P.S. I Love You</a>
                    <a class="item" href="/article/14">Baby It's You</a>
                    <a class="item" href="/article/15">Do You Want to Know a Secret</a>
                    <a class="item" href="/article/16">A Taste of Honey</a>
                    <a class="item" href="/article/17">There's a Place</a>
                    <a class="item" href="/article/18">Twist and Shout</a>
                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>




        <div class="title">
            <div class="ui grid">
                <div class="two wide column">
                    <img class="ui rounded image" src="{%static 'img/beatles/small/With The Beatles.jpg'%}" alt="...(｡•ˇ‸ˇ•｡)...图片加载失败了">
                </div>
                <div class="ui huge header">
                    2. With The Beatles
                </div>
            </div>
            
        </div>
        <div class="content">
            <div class="ui grid">
                <div class="three wide column"></div>
                <div class="ui ordered list">
                    <a class="item" href="/article/19">It Won't Be Long</a>
                    <a class="item" href="/article/20">All I've Got To Do</a>
                    <a class="item" href="/article/32">All My Loving</a>
                    <a class="item" href="/article/21">Don't Bother Me</a>
                    <a class="item" href="/article/22">Little Child</a>
                    <a class="item" href="/article/23">Till There Was You</a>
                    <a class="item" href="/article/24">Please Mister Postman</a>
                    <a class="item" href="/article/25">Roll Over Beethoven</a>
                    <a class="item" href="/article/26">Hold Me Tight</a>
                    <a class="item" href="/article/27">You Really Got A Hold On Me</a>
                    <a class="item" href="/article/28">I Wanna Be Your Man</a>
                    <a class="item" href="/article/29">Devil In Her Heart</a>
                    <a class="item" href="/article/30">Not A Second Time</a>
                    <a class="item" href="/article/31">Money (That's What I Want)</a>
                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>




        

        <div class="title">
            <div class="ui grid">
                <div class="two wide column">
                    <img class="ui rounded image" src="{%static 'img/beatles/small/A Hard Day\'s Night.jpg'%}" alt="...(｡•ˇ‸ˇ•｡)...图片加载失败了">
                </div>
                <div class="ui huge header">
                    3. A Hard Day's Night
                </div>
            </div>
            
        </div>
        <div class="content">
            <div class="ui grid">
                <div class="three wide column"></div>
                <div class="ui ordered list">
                    <a class="item" href="/article/33">A Hard Day's Night</a>
                    <a class="item" href="/article/34">I Should Have Known Better</a>
                    <a class="item" href="/article/35">If I Fell</a>
                    <a class="item" href="/article/36">I'm Happy Just To Dance With You</a>
                    <a class="item" href="/article/37">And I Love Her</a>
                    <a class="item" href="/article/38">Tell Me Why</a>
                    <a class="item" href="/article/39">Can't Buy Me Love</a>
                    <a class="item" href="/article/40">Any Time At All</a>
                    <a class="item" href="/article/41">I'll Cry Instead</a>
                    <a class="item" href="/article/42">Things We Said Today</a>
                    <a class="item" href="/article/43">When I Get Home</a>
                    <a class="item" href="/article/44">You Can't Do That</a>
                    <a class="item" href="/article/45">I'll Be Back</a>
                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>






    </div>

    <div style="height: 50px;"></div>
{% endblock %}